/* 瀑布流 */
.box-viewer {
    width: 100%;
    column-count: 2;
    column-gap: 3px;
}

.box-item {
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    background-color: #a9bfe2;
    border-radius: 3px;
    box-shadow: 3px 3px 3px teal;
    overflow-y: hidden;
    white-space: nowrap;
}

.box-item>div {
    height: 900%;
    box-sizing: border-box;
    height: 120px;
}

/* 瀑布流里面的内容 */
.box-item>.img {
    float: left;
    img {
        height: 100px;
        width: 100px;
    }
}

.box-item>.info>p {
    margin: 0px;
}

.box-item>.info>h3 {
    margin-bottom: 3px;
    margin-top: 0px;
}

/* info里面的吐槽 */
.vented {
    text-align: right;
    text-decoration: line-through;
    font-size: smaller;
}

.vented::before {
    content: "吐槽: ";
}

/* 其他 */
body>h1,
body>h2 {
    height: 100%;
    margin: 0%;
    width: 100%;
}