/* head */

.head {
    background-color: aliceblue;

    h1 {
        text-align: center;
        font-size: large;
        margin: 0px;
    }
}

/* center */

.center>.card {
    margin: 5px;

    img {
        height: 90px;
        width: 90px;
        float: left;
    }

    p {
        margin: 0px;
    }

    h1 {
        margin-bottom: 3px;
    }
}

/* bottom */

.bottom {
    text-align: center;
}

/* all */

* {
    box-sizing: border-box;
}